@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html,
body {
    scroll-behavior: smooth;
}

.parent {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    mix-blend-mode: difference;
    transition: all .2s ease-in-out;
}

.dot:hover {
    transform: scale(1.6);
}

.dotActive {
    transition: all .2s ease-in-out;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.timelinebar {
    @apply absolute top-3 left-[7px] bg-white h-full w-[2px];
}

.timelinedot {
    @apply absolute left-0 bg-white rounded-full h-4 w-4;
}

.timelinedate {
    @apply absolute -mt-[4px] -left-40 sm:-left-28 w-28 text-white font-bold;
}

.timelinetext {
    @apply absolute -mt-16 left-0 bg-transparent rounded-md h-36 w-96 flex items-center justify-center font-bold text-2xl text-white text-center;
}

.agetext {
    @apply text-white text-center px-20 text-[6rem];
}

.contactCard {
    @apply w-72 h-28 sm:h-48 rounded-md;
}

.hovereffect:hover {
    animation: slide 1s forwards;
}

@keyframes slide {
    0% {
        transform: translate(-0%, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}
  